.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav{
  background-color: #03a07b;
}

.nav-link{
  color: white;
}

body{
  background-color: #cee8e4;
}

.profile-card {
   background-color: grey;
  /* background-image: url("/src/Images/Image_placeholder_1920_650_old.jpg") ; */
}

.user-info{
  background-color: #03a07b;
  height: 350px;
}

.create-post{
  background-color: #03a07b;
  height: 350px;
}

.profile-intro{
  background-color: #03a07b;
}

.table>tbody>tr>td,
.table>tbody>tr>th {
  border-top: none;
}

.card-footer > p {
  padding-left: 25px;
  padding-right: 25px;
}

.reaction-icon:hover{
  transform: scale(1.2, 1.2);
}